html,
body {
  padding: 0;
  margin: 0;
}


#__next {
  min-height: 100vh;
  display: grid;
  grid-auto-rows: auto 1fr auto;
}

main {
  padding: 20px;
}

header,
footer {
  min-height: 80px;
}

footer {
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
